<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/engenharia</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.default_schema">sapac</property>
		<mapping class="org.sapac.entities.Consulta" />
		<mapping class="org.sapac.entities.DiagnosticoEnfermagem" />
		<mapping class="org.sapac.entities.Enfermeiro" />
		<mapping class="org.sapac.entities.FotoUlcera" />
		<mapping class="org.sapac.entities.IntervencaoEnfermagem" />
		<mapping class="org.sapac.entities.MedicamentoUso" />
		<mapping class="org.sapac.entities.Medico" />
		<mapping class="org.sapac.entities.Paciente" />
		<mapping class="org.sapac.entities.SituacaoUlceraConsulta" />
		<mapping class="org.sapac.entities.Ulcera" />
		<mapping class="org.sapac.entities.Usuario" />
		<mapping class="org.sapac.entities.VariaveisClinicas" />
	</session-factory>
</hibernate-configuration>
