@charset "UTF-8";

.content {
	margin-top: 60px;
}
.ui-growl {
	z-index: 10000 !important;
}
.imagem_upload {
	text-align: center;
}
.imagem_upload:after {
	content: " ";
	width: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	clear: both;
}
.imagem_upload_controls {
	display: inline-block;
}
.controle {
	text-align: left;
}
.controle .btn {
	width: 80%;
}
.escondido {
	height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}
.marcada {
	background-color: #ff7a00 !important;
	border-color: #ff7a00 !important;
}
.remarcado {
	background-color: #c529e2 !important;
	border-color: #c529e2 !important;
}
.removido {
	background-color: #ff0000 !important;
	border-color: #ff0000 !important;
}
.realizada {
	background-color: #07b607 !important;
	border-color: #07b607 !important;
}
.nao-realizada {
	background-color: #000000 !important;
	border-color: #000000 !important;
}
.label.label-info {
	color: #000000;
	text-align: left;
	cursor: pointer;
}
.form-control {
	margin-bottom: 20px;
}
.ajax-status {
	width: 64px;
	height: 64px;
	position: fixed;
	right: 5px;
	bottom: 5px;
}
.ajax-status img {
	width: 100%;
	height: 100%;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	background: #aaaaaa !important;
}
.ui-growl-icon-close {
	display: block !important;
}
img.img-responsive {
	width: 100%;
}
label {
	font-size: 14px !important;
}
.table-middle th {
	width: 30%;
}
.table-middle td,
.table-middle th {
	vertical-align: middle !important;
}
.ui-growl-item-container {
	opacity: 1 !important;
}
.navbar-brand h1 {
	font-size: 18px;
	margin: 0;
}